@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Shantell+Sans:wght@300&display=swap');

.modal {
    background-color: rgba(0,0,0, .1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;   
}

h1, h3 {
    text-align: center;
}

h3 {
    margin-top: 15px;
}

.modal__dialog {      
    font-family: 'Quicksand', sans-serif;
    background: #FFFBEB;
    color: #000;
    padding: 10px;
    width: 32em;
    height: 350px;
    border-radius: 25px;   
    margin-top: 50px;
    max-width: 100%;
}

.modal-open  {
    display: grid;   
}

.button-modal {  
    width: 100px;
    height: 100px;  
    margin-left: 200px;    
    font-size: 50px;  
    border-radius: 50%;
    color: #16FF00;
    background-color: transparent;
    border: 2px solid #16FF00 ;
    padding: 15px;
   
   
}

.button-modal i {
    padding: 10px;
}

.button-modal-error{
    width: 100px;
    height: 100px;    
    margin-left: 200px;    
    font-size: 50px;  
    border-radius: 50%;
    color: #F94A29;  
    background-color: transparent;
    border: 2px solid #F94A29 ;
    padding: 15px;
    
}

.button-modal-error i {
    padding: 10px;
}

.button-ok{
  width: 50px;
  height: 50px;
  margin-left: 230px;   
  background-color: #A459D1;
  color: #fff;
  border: 2px solid #EBC7E6;
  border-radius: 5px;
}



